# Shopify Configuration
SHOPIFY_API_KEY=362bd33ead340c7aca3a5b1b11571369
SHOPIFY_API_SECRET=4c8db0650fe35f6f9f00d3fe8522d9f7
SHOPIFY_APP_URL=https://eyweb-dev.myshopify.com
SCOPES=write_products,read_products,write_script_tags,read_script_tags,write_themes,read_themes,write_articles,read_articles

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyDh4nnw5pzSLiy-fznBK00QRDlXUFe45vA
FIREBASE_AUTH_DOMAIN=blog-post-generator-9b324.firebaseapp.com
FIREBASE_PROJECT_ID=blog-post-generator-9b324
FIREBASE_STORAGE_BUCKET=blog-post-generator-9b324.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=377102150165
FIREBASE_APP_ID=1:377102150165:web:30fe79167c2ce5b5b57c1c

# AI and Image APIs
GEMINI_API_KEY=AIzaSyBvLSVFc0T8v7PsSS70EqTwKwjqR3QCPhQ
PEXELS_API_KEY=4WV7SYurfrb76K2GpbN9az26I6LymnRtr4h7lp0RU6i3N6nRXvg2Qfa8
